<footer class="d-flex justify-content-between pt-3 mt-4 border-top">
    <p class="text-center text-muted">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}</p>
    <ul class="list-unstyled d-flex" style="font-size: 1.5em">
        <li class="ms-3">
            <a class="link-dark" href="https://www.instagram.com/sketchingdev/">
                <i class="bi-instagram" role="img" aria-label="Instagram"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="link-dark" href="https://twitter.com/SketchingDev">
                <i class="bi-twitter" role="img" aria-label="Twitter"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="link-dark" href="https://github.com/SketchingDev">
                <i class="bi-github" role="img" aria-label="GitHub"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="link-dark" href="{{ domain }}/feed.xml">
                <i class="bi-rss-fill" role="img" aria-label="RSS"></i>
            </a>
        </li>
    </ul>
</footer>
