<div class="ui text menu">

  <div class="left menu">
    {% for link in site.data.navigation.main %}
    <a class="item" href="{{ domain }}{{ link.url }}">
      {{ link.title }}
    </a>
    {% endfor %}
  </div>

  <div class="right item">
    <div class="ui header">
      <div class="site-name">
        {{ site.title }}
        <br />
        <a href="https://twitter.com/intent/follow?screen_name=sketchingdev">
          <img alt="Twitter Follow" src="https://img.shields.io/twitter/follow/sketchingdev">
        </a>
      </div>
    </div>
  </div>

</div>

<div class="ui divider"></div>
