.site-name, .page-title {
    font-family: Gochi Hand, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}

body {
    font-size: 18px;
    font-family: Heebo, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei Light", sans-serif;
    margin-top: 40px;
}

.ui.container {
    max-width: 700px !important;
}

.ui.container img {
    max-width: 100%;
}

.menu > a.item {
    color: #4183c4 !important;
}

.highlight {
    overflow: auto;
    margin-bottom: 20px !important;
}
