---
layout: default
---

{% include topnav.html %}

<!--<div class="page">-->
<!--  {% if page.title %}-->
<!--    <h1 class="ui header"><div class="page-title">{{ page.title }}</div></h1>-->
<!--  {% endif %}-->
<!--  {% if page.subtitle %}-->
<!--    <p>{{ page.subtitle }}</p>-->
<!--  {% endif %}-->

<!--{{ content }}-->
<!--</div>-->

<div class="ui two column grid centered">
    <div class="column">
        <div class="ui card">
            <div class="image">
                <img src="/assets/images/logo.png">
            </div>
            <div class="content">
                <a class="header">Kristy</a>
                <div class="meta">
                    <span class="date">Joined in 2013</span>
                </div>
                <div class="description">
                    Kristy is an art director living in New York.
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="user icon"></i>
                    22 Friends
                </a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card">
            <div class="image">
                <img src="/assets/images/logo.png">
            </div>
            <div class="content">
                <a class="header">Kristy</a>
                <div class="meta">
                    <span class="date">Joined in 2013</span>
                </div>
                <div class="description">
                    Kristy is an art director living in New York.
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="user icon"></i>
                    22 Friends
                </a>
            </div>
        </div>
    </div>
</div>


