---
layout: default
menu_section: sketchnotes
---

{% case page.image_ratio %}
{% when "wide" %}
{% assign image_column_size = "col-lg-9" %}
{% else %}
{% assign image_column_size = "col-lg-5" %}
{% endcase %}

<div class="container mx-auto">
    <main>
        <div class="row">
            <div class="col {{ image_column_size }} mx-auto">
                <a href="{{ page.image | absolute_url }}">
                    <img src="{{ page.image | absolute_url }}"
                         class="shadow-sm img-fluid"
                         alt="{{ page.title | strip_html | strip_newlines | escape_once }}">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-5 mx-auto p-3 images-fluid">
                {% if page.title %}
                <h1 class="sketchnote-title">{{ page.title }}</h1>
                {% endif %}

                {{ content }}
            </div>
        </div>
    </main>
    {% include footer.html %}
</div>
