---
layout: default
---

<div class="ui header">
    <div class="site-name">
        {{ site.title }}
    </div>
</div>

{% include breadcrumbs.html %}

<div class="ui divider"></div>


<article role="main" class="post" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}
    <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.excerpt %}
    <meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.date %}
    <meta itemprop="datePublished" content="{{ page.date | date: " %B %d, %Y" }}">
    {% endif %}
    {% if page.modified %}
    <meta itemprop="dateModified" content="{{ page.modified | date: " %B %d, %Y" }}">
    {% endif %}

    <h1 class="ui header">
        {% if page.title %}{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}{% endif %}

        {% if page.date %}
        <div class="sub header">
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
        </div>
        {% endif %}
    </h1>

    {{ content }}

    <div class="ui hidden divider"></div>
    <p style="font-style: italic">If you have any suggestions on how I can improve this sketchnote then
        please let me know <a href="https://twitter.com/{{ site.twitter.username }}">@{{ site.twitter.username }}</a>
    </p>
</article>
