---
layout: gallery
title: Sketch Notes
---

{% include topnav.html %}

{% for sketchnote in site.sketchnotes %}
<h1>sketchnote</h1>>
{% include gallery-image.html %}
{% endfor %}


<div class="ui two column grid centered">
    <div class="column">
        <div class="ui card">
            <div class="image">
                <img src="/assets/images/logo.png">
            </div>
            <div class="content">
                <a class="header">Kristy</a>
                <div class="meta">
                    <span class="date">Joined in 2013</span>
                </div>
                <div class="description">
                    Kristy is an art director living in New York.
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="user icon"></i>
                    22 Friends
                </a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card">
            <div class="image">
                <img src="/assets/images/logo.png">
            </div>
            <div class="content">
                <a class="header">Kristy</a>
                <div class="meta">
                    <span class="date">Joined in 2013</span>
                </div>
                <div class="description">
                    Kristy is an art director living in New York.
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="user icon"></i>
                    22 Friends
                </a>
            </div>
        </div>
    </div>
</div>


